.header__container {
  padding: 10px 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0;
  background-color: white;
  z-index: 100;
  
}

.header__start {
  width: 200px;
  min-width: 150px;
  height: 40px;
  display: flex;
  align-items: center;

}

.header__start__hamburger {
  font-size: 20px;
  color: gray;
  margin-right: 16px;
}
.header__start__image {
  width: 80px;
}

.header__start__nation {
  display:inline-flex;
  height: 30px;
  color: #899999
}

.header__last {
  display: flex;
}


.header__last__components {
  color: #3d3d3d;
  font-size: 20px;
  padding: 10px;
}